USE [master]
GO
/****** Object:  Database [ArstegSolutions]    Script Date: 4/22/2018 1:36:58 PM ******/
CREATE DATABASE [ArstegSolutions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArstegSolutions', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ArstegSolutions.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArstegSolutions_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ArstegSolutions_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArstegSolutions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArstegSolutions]
GO
/****** Object:  Table [dbo].[TaxSlabs]    Script Date: 4/22/2018 1:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxSlabs](
	[SlabId] [int] IDENTITY(1,1) NOT NULL,
	[StartAmount] [decimal](18, 2) NOT NULL,
	[EndAmount] [decimal](18, 2) NOT NULL,
	[Percentage] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TaxSlabs] PRIMARY KEY CLUSTERED 
(
	[SlabId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TaxSlabs] ON 

INSERT [dbo].[TaxSlabs] ([SlabId], [StartAmount], [EndAmount], [Percentage]) VALUES (1, CAST(0.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), 5)
INSERT [dbo].[TaxSlabs] ([SlabId], [StartAmount], [EndAmount], [Percentage]) VALUES (2, CAST(250000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[TaxSlabs] ([SlabId], [StartAmount], [EndAmount], [Percentage]) VALUES (3, CAST(500000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), 20)
SET IDENTITY_INSERT [dbo].[TaxSlabs] OFF
USE [master]
GO
