USE [master]
GO
/****** Object:  Database [ArstegSolutions]    Script Date: 4/21/2018 7:54:52 PM ******/
CREATE DATABASE [ArstegSolutions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArstegSolutions', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ArstegSolutions.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArstegSolutions_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ArstegSolutions_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArstegSolutions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArstegSolutions]
GO
/****** Object:  Table [dbo].[TaxSlabInfo]    Script Date: 4/21/2018 7:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxSlabInfo](
	[slabId] [int] IDENTITY(1,1) NOT NULL,
	[StartAmount] [decimal](18, 2) NULL,
	[EndAmount] [decimal](18, 2) NULL,
	[Percentage] [int] NULL,
 CONSTRAINT [PK_TaxSlabInfo] PRIMARY KEY CLUSTERED 
(
	[slabId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
